[Unit]
Description=Run ssautoupdate monthly

[Timer]
OnCalendar=*-*-01 00:00:00
Persistent=false
Unit=ssautoupdate.service

[Install]
WantedBy=multi-user.target
