[Unit]
Description=Run ssautoupdate monthly

[Timer]
OnCalendar=monthly
Persistent=true
Unit=ssautoupdate.service

[Install]
WantedBy=multi-user.target
